<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div class="conatainer" id="body">
      <!-- Navbar -->
      <nav class="navbar navbar-light bg-dark" style="height: 80px">
        <a class="navbar-brand" style="margin-left: 5%; font-size: 30px; font-family: cursive; color: blanchedalmond;" href="/">ExpenseTracker.com</a>
        <form class="form-inline" style="margin-right: 3%;">
          <button class="btn" type="submit" style="color: wheat;"><a href="/userHome">Home</a></button>
          <button class="btn" type="submit" style="color: wheat;"><a href="/myExpenses">My Expenses</a></button>
          <button class="btn" type="submit" style="color: wheat;"><a href="/signout">Log Out</a></button>
        </form>
      </nav>
    </div>

    <% if(status=true && message) { %>
      <div class="alert bg-success fade show" role="alert" id="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if(message) { %>
            <strong>Success: </strong><%= message %>
          <% } %>
      </div>
    <% } %>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid" id="jumbo2">
      <h1 style="color: wheat; text-align: center; font-family: cursive;">Welcome <%= Name %></h1>
      <br>
      <h3 style="color: wheat; text-align: center; font-family: cursive;">Add any expense</h3>
    </div>

    <!-- form -->
    <div class="row" id="row1">
      <div class="col-sm-12">
        <form action="/userHome" method="POST">
          <div class="form-group">
            <label style="color: whitesmoke;">Amount</label>
            <input type="number" class="form-control" name="amount" required>
          </div>
          <div class="form-group">
            <label style="color: whitesmoke;">Category</label>
            <input type="text" class="form-control" name="category">
          </div>
          <div class="form-group">
            <label style="color: whitesmoke;">Description</label>
            <input type="text" class="form-control" name="description">
          </div>
            <button type="submit" class="btn btn-light">Add</button>
        </form>
      </div>
    </div>

     <!-- JS, Popper.js, and jQuery -->
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 
     <script>
       setTimeout(function () {
         $('#alert').alert('close');
       }, 2000);
     </script>
 

  </body>
</html>
